
streamlit
transformers
sentence-transformers
huggingface-hub
spacy
pdfplumber
docx2txt
google-api-python-client
numpy<2.0  # Downgrade NumPy to a version below 2.0
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu  # Install PyTorch (change to CUDA version if needed)
matplotlib
python-dotenv
requests
pandas
nltk
scikit-learn
beautifulsoup4
unidecode
spacy-lookups-data
thinc==8.1.10

# Manually install the Spacy model if needed:
# pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
